# ------------------------
# Django
# ------------------------

DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=


# ------------------------
# Database
# ------------------------

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=bd
POSTGRES_PORT=


# ------------------------
# SMS Aero
# ------------------------

SMSAERO_LOGIN=
SMSAERO_API_KEY=


# ------------------------
# Redis
# ------------------------

REDIS_HOST=redis
REDIS_PORT=
REDIS_DB=

